Repository MichaelKMalak/hekaya: changes, and which Codecov flags are due for each by the changed paths.
All: Parser, Renderer, PDF Generator, CLI

docs: add per-package coverage badges to README tables
  README.ar.md
  README.md
Due: none

feat: add Try It section and fix release binary build
  .github/workflows/release.yml
  README.ar.md
  README.md
  docs/docs/index.md
Due: none

feat: add PDF RTL rendering, serializer, and convert command
  .github/workflows/release.yml
  README.ar.md
  README.md
  apps/hekaya-cli/src/commands/convert.ts
  apps/hekaya-cli/src/index.ts
  apps/hekaya-cli/tests/commands.test.ts
  docs/docs/architecture.md
  docs/docs/research/08-fdx-format-analysis.md
  packages/hekaya-parser/src/hekaya.ts
  packages/hekaya-parser/src/index.ts
  packages/hekaya-parser/src/keywords.ts
  packages/hekaya-parser/src/serializer.ts
  packages/hekaya-parser/tests/keywords.test.ts
  packages/hekaya-parser/tests/serializer.test.ts
  packages/hekaya-pdf/package.json
  packages/hekaya-pdf/src/fonts.ts
  packages/hekaya-pdf/src/index.ts
  packages/hekaya-pdf/src/page-layout.ts
  packages/hekaya-pdf/src/pdf-generator.ts
  packages/hekaya-pdf/src/pdf-types.ts
  packages/hekaya-pdf/src/pdfmake-rtl.d.ts
  packages/hekaya-pdf/tests/fonts.test.ts
  packages/hekaya-pdf/tests/page-layout.test.ts
  packages/hekaya-pdf/tests/pdf-generator.test.ts
  pnpm-lock.yaml
  samples/آخر-أيام-الصيف.hekaya
  samples/بكرا-السما-ح-تقع.hekaya
  samples/كل-المميزات.hekaya
Due: Parser, PDF Generator, CLI

fix(pdf): update font download script for Cascadia Mono
  packages/hekaya-pdf/scripts/download-fonts.sh
Due: none

feat: align terminology with Egyptian film industry standards
  README.ar.md
  README.md
  apps/hekaya-cli/tests/commands.test.ts
  apps/hekaya-cli/tests/fixtures/minimal.hekaya
  docs/docs/examples/basic-arabic.md
  docs/docs/examples/bilingual.md
  docs/docs/examples/feature-film.md
  docs/docs/examples/full-comedy.md
  docs/docs/examples/full-drama.md
  docs/docs/examples/short-comedy.md
  docs/docs/index.md
  docs/docs/spec/fountain-compatibility.md
  docs/docs/spec/hekaya-markup-spec.md
  packages/hekaya-parser/src/character-registry.ts
  packages/hekaya-parser/src/keywords.ts
  packages/hekaya-parser/src/lexer.ts
  packages/hekaya-parser/src/rules.ts
  packages/hekaya-parser/src/serializer.ts
  packages/hekaya-parser/tests/character-registry.test.ts
  packages/hekaya-parser/tests/fixtures/arabic-basic.hekaya
  packages/hekaya-parser/tests/fixtures/bilingual-mixed.hekaya
  packages/hekaya-parser/tests/fixtures/edge-cases.hekaya
  packages/hekaya-parser/tests/keywords.test.ts
  packages/hekaya-parser/tests/lexer.test.ts
  packages/hekaya-parser/tests/rules.test.ts
  packages/hekaya-parser/tests/serializer.test.ts
  packages/hekaya-pdf/tests/pdf-generator.test.ts
  packages/hekaya-renderer/tests/renderer.test.ts
  samples/آخر-أيام-الصيف.hekaya
  samples/الليلة-الكبيرة.hekaya
  samples/بكرا-السما-ح-تقع.hekaya
Due: Parser

fix(pdf): handle import.meta.url fallback for CJS bundling
  packages/hekaya-pdf/src/fonts.ts
Due: PDF Generator

fix: add esbuild as root devDependency for release bundling
  package.json
  pnpm-lock.yaml
Due: none

fix: add workflow_dispatch to release workflow for manual binary builds
  .github/workflows/release.yml
Due: none

feat: bundle fonts with hekaya-pdf npm package
  .github/workflows/release.yml
  .gitignore
  docs/docs/index.md
  packages/hekaya-pdf/fonts/CascadiaMono-Light.ttf
  packages/hekaya-pdf/fonts/CascadiaMono-Regular.ttf
  packages/hekaya-pdf/fonts/Courier-Bold.ttf
  packages/hekaya-pdf/fonts/Courier-Regular.ttf
  packages/hekaya-pdf/package.json
  packages/hekaya-pdf/src/fonts.ts
Due: PDF Generator

feat: add npm publish automation and install docs
  .github/workflows/release.yml
  .release-please-manifest.json
  README.ar.md
  README.md
  docs/docs/index.md
  release-please-config.json
Due: none

fix: add CI workflow for release-please PRs
  .github/workflows/ci-release-pr.yml
Due: none

fix: use bash shell for Windows binary bundling
  .github/workflows/release.yml
Due: none

fix: unified versioning for all npm packages
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

fix: use A4 page size and widen parenthetical margins
  packages/hekaya-pdf/src/page-layout.ts
  packages/hekaya-pdf/tests/page-layout.test.ts
Due: PDF Generator

feat: add --include-notes flag to export inline notes in PDF
  apps/hekaya-cli/src/commands/export.ts
  docs/docs/spec/hekaya-markup-spec.md
  packages/hekaya-parser/src/lexer.ts
  packages/hekaya-parser/src/types.ts
  packages/hekaya-parser/tests/lexer.test.ts
  packages/hekaya-pdf/src/page-layout.ts
  packages/hekaya-pdf/src/pdf-generator.ts
  packages/hekaya-pdf/tests/pdf-generator.test.ts
Due: Parser, PDF Generator, CLI

docs: add package READMEs for npm
  apps/hekaya-cli/README.md
  packages/hekaya-parser/README.md
  packages/hekaya-pdf/README.md
  packages/hekaya-renderer/README.md
Due: none

docs: add hekaya-screenwriting-syntax skill for skill.fish
  skills/hekaya-screenwriting-syntax/SKILL.md
Due: none

docs: add hekaya-screenplay-development skill and clean up frontmatter
  skills/hekaya-screenplay-development/SKILL.md
  skills/hekaya-screenwriting-syntax/SKILL.md
Due: none

docs: add examples, reference, templates, and scripts to skills
  skills/hekaya-screenplay-development/SKILL.md
  skills/hekaya-screenplay-development/examples.md
  skills/hekaya-screenplay-development/reference.md
  skills/hekaya-screenplay-development/scripts/idea-generator.sh
  skills/hekaya-screenplay-development/scripts/story-spine.sh
  skills/hekaya-screenplay-development/templates/character-card.md
  skills/hekaya-screenplay-development/templates/logline-worksheet.md
  skills/hekaya-screenplay-development/templates/scene-analysis.md
  skills/hekaya-screenplay-development/templates/short-film-outline.md
  skills/hekaya-screenwriting-syntax/SKILL.md
  skills/hekaya-screenwriting-syntax/examples.md
  skills/hekaya-screenwriting-syntax/reference.md
  skills/hekaya-screenwriting-syntax/scripts/new-screenplay.sh
  skills/hekaya-screenwriting-syntax/scripts/validate-and-export.sh
  skills/hekaya-screenwriting-syntax/templates/dual-dialogue.hekaya
  skills/hekaya-screenwriting-syntax/templates/scene.hekaya
  skills/hekaya-screenwriting-syntax/templates/short-film.hekaya
  skills/hekaya-screenwriting-syntax/templates/title-page.hekaya
Due: none

Path conditions:
  Parser: any of: packages/hekaya-parser/src/**
  Renderer: any of: packages/hekaya-renderer/src/**
  PDF Generator: any of: packages/hekaya-pdf/src/**
  CLI: any of: apps/hekaya-cli/src/**
